.follow-box {
    padding: 0.5em 1em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width:100%;
    height:900px;
    text-align:center;
}
.follow-title-box{
  margin-bottom: 100px;
  background-color: #fff3e0;
  border: 2px solid #ffa726;
  letter-spacing: .3px;
  text-align:center;
  width:30%;
  margin:10% 40%;
}
.follow-title-box a{
  text-decoration:none;
  color:black;
}
.follow-title-box p{
  margin: 0;
  padding: 1em;
}
.follow-title-box{
  font-weight: bold;
  background-color: #ffa726;
  padding: 4px 6px;
  text-align: center;
}
.follow_name{
  font-size:20px;
  color:blue;
}
