.first_header {
    background-color:#FF8C00;
    padding:10px;
    height:7%;
}
.header01-logo {
  font-weight: bold;
  font-size: 20px;
  left:10%;
}
.header01-list {
  list-style:none;
  display: flex; 
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  gap: 1px;
  font-size: 20px;
  font-weight: bold;
}
.header01-item{
    text-align: center;
}
.header01{
  width: 150px;
  height: 100px;
  background: #008080;
  line-height: 100px;
  font-family:Comic Sans MS;
  color:black;
}
.header01:hover{
    background-color: #5F9EA0;
}
.header02{
  width: 150px;
  height: 100px;
  background: #A52A2A;
  line-height: 100px;
  font-family:Comic Sans MS;
  color:black;
}
.header02:hover{
    background-color:#FF4500;
}
.header03{
  width: 150px;
  height: 100px;
  background: #708090;
  line-height: 100px;
  font-family:Comic Sans MS;
  color:black;
}
.header03:hover{
    background-color:#C0C0C0;
}
.header04{
  width: 150px;
  height: 100px;
  background: #ffd700;
  line-height: 100px;
  font-family:Comic Sans MS;
  color:black;
}
.header04:hover{
    background-color:#FFE4B5;
}
.header05{
  width:150px;
  height: 100px;
  background: #D2691E;
  line-height: 100px;
  font-family:Comic Sans MS;
  color:black;
}
.header05:hover{
    background-color:#F4A460;
}
.header06{
  width: 150px;
  height: 100px;
  background: #9932CC;
  line-height: 100px;
  font-family:Comic Sans MS;
  color:black;
}
.header06:hover{
    background-color:#DA70D6;
}
.title-index{
    text-align:center;
    padding:250px 0px 350px 0px;
    font-weight: bold;
    font-size: 100px;
    background: #fff2e4;/*背景色*/
    height:650px;
    font-family:Comic Sans MS;
}
.user-form{
    font-size: 30px;
    font-weight: normal;
}
.content-index{
    background-color:#fff2e4;
}
.post-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap:10px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 10px #696969;
    width:100%;
    background-color:#fff2e4;;
}
.post-list p {
    margin: 0; 
    padding: 0;
    height: 100px;
}
.sample_box_title { 
    margin:0 auto;
    padding: 4.0em 0.5em 0.4em;
    text-align: center;
    font-size: 1.3em;/*タイトル文字サイズ*/
    background: #FFCC33	;/*タイトル文字背景色*/
    border-bottom: 3px solid #ff7f00;/*タイトル下線*/
    font-weight: bold;
    letter-spacing: 0.05em;
    width: 23%;
    height: 30%;
    border : solid 5px #333 ;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.sample_box_title:hover{
    transform:scale(1.1,1.1);
}
.sample_box_title p {
    margin-bottom: 0;
}
.paginate{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
    width:20%;
}
.paginate:before,.paginate:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.paginate:after {
    top:-12px;
    left:-12px;
}
.paginate:before {
    bottom:-12px;
    right:-12px;
}
.paginate p {
    margin: 0; 
    padding: 0;
}
.paginate-link {
   display:inline-block;
   margin:5px;
   color:black;
}
.paginate-link :hover{
    background-color:#DA70D6;
    color:blue;
}

.img-frame{
   position: relative;
   width: 70%;
   height: 300px;
   overflow: hidden;
   margin: 0 auto;
}
.img-01, .img-02, .img-03{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}
.img-01{
   background-image: url('storage/images/living.jpg');
   animation: slide-animation-01 24s infinite;
}
.img-02{
   background-image: url('storage/images/living.jpg');
   animation: slide-animation-02 24s infinite;
}
.img-03{
   background-image: url('storage/images/living.jpg');
   animation: slide-animation-03 24s infinite;
}
@keyframes slide-animation-01 {
   0% {opacity: 1; transform: scale(1.0);}
   30% {opacity: 1;}
   40% {opacity: 0; transform: scale(1.15);}
   90% {opacity: 0}
   100% {opacity: 1; transform: scale(1.0);}
 }
 @keyframes slide-animation-02 {
   0% {opacity: 0;}
   30% {opacity: 0; transform: scale(1.1);}
   40% {opacity: 1;}
   60% {opacity: 1;}
   70% {opacity: 0; transform: scale(1.0);}
   100% {opacity: 0;}
 }
 @keyframes slide-animation-03 {
   0% {opacity: 0;}
   60% {opacity: 0;  transform: scale(1.0);}
   70% {opacity: 1;}
   90% {opacity: 1;}
   100% {opacity: 0; transform: scale(1.1);}
 }
