
.outline{
    text-align:center;
    margin-top:200px;
    width:30%;
    margin-left:35%;
    background-color:#ffffe0;
}
.outline_box {
    padding: 0.5em 1.5em;
    margin: 2em 0;
    background-color:#ffffe0;/*背景色*/
    border: 6px #ffa500;/*線*/
    color:#000000;/*文字色*/
    width:30%;
    margin:5% 35%;
    text-align:center;
}
