.share-box5 {
    display:flex;
    flex-wrap:wrap;
    float:left;
    justify-content: space-between;
    gap:10px;
    padding: 0.5em 1em;
    border: double 10px #696969;
    width:100%;
    margin-top:15%;
}
.share-box5 p {
    margin: 0; 
    padding: 0;
    height: 100px;
}
.share_box_title { 
    margin:0 auto;
    padding: 0.5em 0.5em 0.4em;
    text-align: center;
    font-size: 1.3em;/*タイトル文字サイズ*/
    background: #FFCC33	;/*タイトル文字背景色*/
    border-bottom: 3px solid #ff7f00;/*タイトル下線*/
    font-weight: bold;
    letter-spacing: 0.05em;
    width: 23%;
    height: 30%;
    border : solid 5px #333 ;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.share_box_title:hover{
    transform:scale(1.1,1.1);
}
.share_box_title p {
    margin-bottom: 0;
}
