.loose-leaf{
  background: #f8f0d7;
  border-left: 5px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 0 5 #f8f0d7;
  padding: 1em;
  margin: 1em 5px;
  text-align:center;
}
.loose-leaf p{
  margin: 0;
  padding: 0;
}
.fashionable-box3{
  margin: 1em 0;
  padding: 1em;
  box-shadow: 0 0 3px 3px #ffab40, 0 0 3px 2px #ffab40 inset;
  border-radius: 10px;
  background: #fff3e0;
  width:30%;
  margin-left:34%;
}
.fashionable-box3 p{
  margin: 0;
  padding: 0;
}